.customfield-sprogramme {
    overflow: auto;
    height: 100%;
    font-size: 0.8rem;
    position: relative;

    .btn.btn-icon {
        height: 2rem;
        width: 2rem;
        font-size: 1rem;

        .icon {
            max-width: 1rem;
            max-height: 1rem;
        }

        .fa-fw {
            font-size: 0.8rem;
        }
    }

    .programm-input {
        display: block;
        width: 100%;
        min-width: 70px;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.125rem;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &::placeholder,
        &::-webkit-input-placeholder {
            color: #d7d7d8;
        }

        &:focus {
            outline: 1px solid #7fb6f1;
            background-color: #f7f7f7;
            border-radius: 0;
        }
    }

    .programm-textarea {
        display: block;
        width: 100%;
        min-width: 70px;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.5rem;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &:focus {
            outline: 1px solid #7fb6f1;
            background-color: #f7f7f7;
            border-radius: 0;
        }
    }

    .module-input {
        border-radius: 0;
        border-color: #dee2e6;
    }

    .float .programm-input,
    .int .programm-input,
    .static.float,
    .int {
        min-width: 52.55px;
        width: 52.55px;
        max-width: 52.55px;
    }

    .container-disciplines,
    .container-competencies {
        flex: 1 1 auto;
        display: flex;
        flex-wrap: wrap;
        max-width: 170px;
    }

    .disciplines,
    .competencies {
        min-width: 205px;

        .badge {
            display: flex;
            align-items: center;
            padding: 0.15rem 0.5rem;
            width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 0.125rem;
            margin-top: 0.125rem;
            margin-right: 0.5rem;

            .name {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 120px;
                margin-right: 0.5rem;
            }

            .percentage {
                background-color: #fff;
                border-radius: 1.5rem;
                margin-left: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 1.6rem;
                width: 1.6rem;
                min-width: 1.6rem;

                &::after {
                    content: '%';
                    font-size: 0.6rem;
                    color: #6c757d;
                }
            }

            .btn {
                display: none;
                margin-left: 0.25rem;
            }
        }
    }

    .programm-table {
        max-width: 100%;
        overflow: visible;
        border-left: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;

        input[type="number"] {
            /* For most modern browsers */
            -moz-appearance: textfield; /* Firefox */
            -webkit-appearance: textfield; /* Chrome, Safari, Edge */
            appearance: textfield;
        }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0; /* Optional: Prevent additional spacing */
        }

        .protected,
        .protected input {
            background-color: #f8f8f8;
        }

        .deletepending input,
        .deletepending textarea,
        .deletepending select,
        .deletepending .actions button {
            text-decoration: line-through;
            background-color: #f8f8f8;
        }

        .deletepending .actions button,
        .deletepending .disciplines button,
        .deletepending .competencies button {
            display: none;
        }

        tr.haserror [data-group="unique"] {
            background-color: #f8d7da;
            color: #721c24;
        }

        .oldvalue {
            color: #c0c0c0;
        }

        .newvalue {
            color: rgb(206, 38, 38);
        }

        .haschanges input,
        .haschanges .staticdata {
            color: rgb(206, 38, 38);
        }

        &.toprow {
            margin-left: 275px;

            th {
                display: none;
                position: relative;
                color: #c6c6c6;

                &.haschanges .sumcontainer {
                    color: rgb(206, 38, 38);
                }
            }

            th.float,
            th.int {
                display: table-cell;
                width: 55.55px;
                min-width: 55.55px;
            }

            .sumcontainer {
                position: absolute;
                left: 0;
                right: 0;
                background-color: #f7f7f7;
                padding: 0 10px;
                bottom: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 50%;
                width: 100%;
                height: 20px;
                color: var(--dark);
            }
        }

        th,
        td {
            border-top: 1px solid #dee2e6;
            border-right: 1px solid #dee2e6;
            position: relative;
            vertical-align: top;
        }

        th {
            max-width: 170px;
            padding: 0.4rem;

            &.float,
            &.int {
                background-color: #f7f7f7;
                width: 55.55px;
                max-width: 55.55px;
                min-width: 55.55px;
            }

            &.select {
                width: 75px;
                min-width: 75px;
            }

            &.text {
                width: 200px;
                min-width: 200px;
                white-space: normal;
            }

            .thlabel {
                display: block;
                width: 100%;
                white-space: break-spaces;

                &.hashelp {
                    text-decoration: underline;
                    cursor: help;
                }
            }

            .sum {
                display: flex;
                text-align: left;
                width: auto;
                height: 20px;
                color: #c6c6c6;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }

            .newsum {
                display: flex;
                text-align: left;
                width: auto;
                height: 20px;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }
        }

        td.static {
            padding: 0.4rem;
        }

        td.haschanges {
            input {
                background-color: #f4ffff;
            }
        }
    }

    &.syllabuspage .programm-table {
        margin-left: 1rem;
        width: calc(100% - 1rem);

        th,
        td {
            &.float,
            &.int {
                width: 30px;
                max-width: 30px;
                min-width: 30px;
                overflow: hidden;
            }
        }

        th.select,
        td.select {
            display: none;
        }

        tr.tags {
            display: none;

            &.show.has-disciplines,
            &.show.has-competencies {
                display: table-row;
            }
        }

        tr.show-disciplines,
        tr.show-competencies {
            cursor: pointer;

            &:hover {
                background-color: #f7f7f7;
            }

            &[aria-expanded="true"] {
                border-bottom: initial;
            }

            & > td.intitule_seance > .staticdata {
                padding-left: 1rem;

                &::before {
                    content: ' + ';
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateX(-50%) translateY(-50%);
                    width: 1.5rem;
                    height: 1.5rem;
                    background-color: #f7f7f7;
                    border-radius: 50%;
                    box-shadow: inset 0 0 0 1px #dee2e6;
                }
            }
        }
    }

    td.active .changes .changecontent {
        display: block;
    }

    td:focus {
        outline: 1px solid #7fb6f1;
    }

    td.disciplines {
        position: relative;
    }

    .formarrow {
        display: block;
        top: 0;
        right: 0;
        position: absolute;
        // Add another triangle with a white border pointing to the right on the top right corner as an after element
        &::before {
            content: '';
            position: absolute;
            top: 8px;
            right: -12px;
            width: 0;
            height: 0;
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
            border-left: 12px solid #fff;
            z-index: 2;
        }

        // Add a triangle with a black border pointing to the right on the top right corner as an after element
        &::after {
            content: '';
            position: absolute;
            top: 7px;
            right: -13px;
            width: 0;
            height: 0;
            border-top: 13px solid transparent;
            border-bottom: 13px solid transparent;
            border-left: 13px solid var(--light);
        }
    }

    .tag-form {
        display: block;
        position: absolute;
        right: 100%;
        top: -3px;
        width: 400px;
        padding: 0.5rem;
        background-color: #fff;
        z-index: 1;
        border: 1px solid var(--light);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        .badge .btn {
            display: block;
        }

        .btn.btn-icon:hover, .btn.btn-icon:focus {
            background-color: #ead9d9;
        }

        font-size: 0.8rem;

        input,
        .btn {
            font-size: 0.8rem;
        }

        .list-group {
            border-top: 1px solid var(--light);
            border-radius: 0;
        }

        .list-group-item {
            border-radius: 0;
        }

        #tag-name {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        #tag-value {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            margin-left: -1px;
        }

        #tag-confirm {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: -1px;
            border-color: var(--gray);
            border-left: 0;
        }

        .tag-list {
            height: 450px;
            overflow-y: auto;
            border-bottom: 1px solid var(--light);
        }

        &.data-tags {
            .competences-list {
                display: none;
            }
        }

        &.data-competencies {
            .tag-list {
                display: none;
            }
        }
    }
}

.modal .modal-customfield_sprogramme_history {
    max-width: calc(100% - 2rem);

    .oldvalue {
        color: #c0c0c0;
    }

    .newvalue {
        color: rgb(206, 38, 38);
    }
}

.modal .modal-customfield_sprogramme_editor {
    max-width: calc(100% - 2rem);
    height: 100vh;

    .sum.strikethrough {
        color: #c6c6c6;
    }

    .modal-header {
        align-items: center;

        .btn-close {
            display: none;
        }
    }

    .close {
        margin-left: -0.5px;
    }

    .editbuttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 1rem;
        margin-top: 0.5rem;
    }

    .saveconfirm {
        margin-left: auto;
    }

    .downloadbutton,
    .closebutton,
    .uploadbutton {
        .icon {
            color: #9f9f9f;
        }
    }

    .saveconfirm {
        margin-top: -1.5px;

        .savingicon .icon {
            color: var(--warning);
        }

        .defaulticon .icon {
            color: var(--success);
        }

        .icon {
            color: #9f9f9f;
        }

        .btn .savingicon {
            display: none;
        }

        .btn.saving {
            .defaulticon {
                display: none;
            }

            .savingicon {
                display: inline-block;
            }
        }
    }
}

.tablerfcs {
    .userpicture {
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
    }
}
