.customfield_sprogramme {
    height: 100%;
}
.customfield-sprogramme {
    overflow: auto;
    height: 100%;
    font-size: 0.8rem;
    .btn.btn-icon {
        height: 2rem;
        width: 2rem;
        font-size: 1rem;
        .icon {
            max-width: 1rem;
            max-height: 1rem;
        }
        .fa-fw {
            font-size: 0.8rem;
        }
    }
    .programm-input {
        display: block;
        width: 100%;
        min-width: 70px;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.125rem;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        border-radius: 0rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &::placeholder,
        &::-webkit-input-placeholder {
            color: #d7d7d8;
        }
        &:focus {
            outline: 1px solid #7fb6f1;
            background-color: #f7f7f7;
            border-radius: 0rem;
        }
    }
    .module-input {
        border-radius: 0;
        border-color: #dee2e6;
    }
    .float .programm-input,
    .int .programm-input {
        min-width: 50px;
        width: 50px;
        max-width: 50px;
    }
    .container-disciplines,
    .container-competencies {
        flex: 1 1 auto;
        display: flex;
        flex-wrap: wrap;
        max-width: 170px;
    }
    .disciplines,
    .competencies {
        min-width: 205px;
        .badge {
            display: flex;
            align-items: center;
            padding: 0.2rem 0.5rem;
            width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 0.125rem;
            margin-top: 0.125rem;
            margin-right: 0.5rem;
            .name {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 120px;
                margin-right: 0.5rem;
            }
            .percentage {
                background-color: #fff;
                margin-left: 0.5rem;
                border-radius: 1.5rem;
                margin-left: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 1.5rem;
                width: 1.5rem;
                min-width: 1.5rem;
            }
            .btn {
                display: none;
                margin-left: 0.25rem;
            }
        }
    }
    .programm-table {
        max-width: 100%;
        overflow: visible;

        border-bottom: 1px solid #dee2e6;
        input[type="number"] {
            /* For most modern browsers */
            -moz-appearance: textfield; /* Firefox */
            -webkit-appearance: none; /* Chrome, Safari, Edge */
            appearance: none;
        }
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0; /* Optional: Prevent additional spacing */
        }
        .readonly input,
        .readonly select {
            background-color: #f7f7f7;
            border: 0;
        }
        .haschanges input {
            color:rgb(206, 38, 38);
        }
        tr.hasrowchanges {
            td {
                text-decoration: line-through;
            }
        }
        &.editor.toprow {
            margin-left:350px;
            th {
                display: none;
                position: relative;
                color: #C6C6C6;
            }
            .sumcontainer {
                position: absolute;
                right: 5px;
                bottom: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                color: var(--dark);
                .sum.rfc {
                    color: rgb(206, 38, 38);
                }
            }
            th.float,
            th.int {
                display: table-cell;
                width: 52.55px;
            }
        }
        &.editor {
            border-left: 1px solid #dee2e6;
            th {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 170px;
                padding: 0.4rem;
                &.float,
                &.int {
                    background-color: #f7f7f7;
                    width: 50px;
                    max-width: 52.55px;
                }
                &.select {
                    width: 75px;
                    min-width: 75px;
                }
                &.text {
                    width: 200px;
                    min-width: 200px;
                    white-space: wrap;
                }
                .thlabel {
                    display: block;
                    width: 100%;
                    white-space: break-spaces;
                }

                .sum:not(:empty) {
                    display: flex;
                    width: 100%;
                    text-align: left;
                    width: auto;
                    height: 20px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                }
                .sum.strikethrough {
                    text-decoration: line-through;
                    color: #b5b5b5;
                }
                .newsum:not(:empty) {
                    display: flex;
                    width: 100%;
                    color: rgb(206, 38, 38);
                    text-align: left;
                    width: auto;
                    height: 20px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                }
            }
            th,
            td {
                border-top: 1px solid #dee2e6;
                border-right: 1px solid #dee2e6;
                position: relative;
                vertical-align: top;
                &.int {
                    width: 52px;
                    max-width: 52px;
                }
            }
            td.actions {
                display: flex;
            }
            td.rfc {
                background-color: #7fb6f1;
                input {
                    background-color: #f4ffff;
                }
            }
        }
        &.standard {
            border-right: 1px solid #dee2e6;
            td,
            th {
                padding: 0.5rem;
                border-top: 1px solid #dee2e6;
                border-left: 1px solid #dee2e6;
                vertical-align: top;
                &.text {
                    width: 300px;
                    white-space: wrap;
                }
                &.float,
                &.int {
                    width: 50px;
                }
                &:empty {
                    height: 50px;
                }
            }
            th {
                &.float,
                &.int {
                    background-color: #f7f7f7;
                    width: 50px;
                }
            }
        }
    }
    td:focus {
        outline: 1px solid #7fb6f1;
    }
    td.disciplines {
        position: relative;
    }
    td .discipline-form {
        display: block;
        position: absolute;
        right: 100%;
        top: -3px;
        width: 400px;
        padding: 0.5rem;
        background-color: #fff;
        z-index: 1;
        border: 1px solid var(--light);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        .badge .btn {
            display: block;
        }
        .btn.btn-icon:hover, .btn.btn-icon:focus {
            background-color: #ead9d9;
        }
    }
    .formarrow {
        display: block;
        top: 0;
        right: 0;
        position: absolute;
        // Add another triangle with a white border pointing to the right on the top right corner as an after element
        &::before {
            content: '';
            position: absolute;
            top: 8px;
            right: -12px;
            width: 0;
            height: 0;
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
            border-left: 12px solid #ffffff;
            z-index: 2;
        }
        // Add a triangle with a black border pointing to the right on the top right corner as an after element
        &::after {
            content: '';
            position: absolute;
            top: 7px;
            right: -13px;
            width: 0;
            height: 0;
            border-top: 13px solid transparent;
            border-bottom: 13px solid transparent;
            border-left: 13px solid var(--light);
        }
    }
    .discipline-form {
        font-size: 0.8rem;
        input,
        .btn {
            font-size: 0.8rem;
        }
        .list-group {
            border-top: 1px solid var(--light);
            border-radius: 0;
        }
        .list-group-item {
            border-radius: 0;
        }
        #discipline-name {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        #discipline-value {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            margin-left: -1px;
        }
        #discipline-confirm {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: -1px;
            border-color: var(--gray);
            border-left: 0;
        }
        .discipline-list,
        .competences-list {
            height: 200px;
            overflow-y: auto;
        }
        &.data-disciplines {
            .competences-list {
                display: none;
            }
        }
        &.data-competencies {
            .discipline-list {
                display: none;
            }
        }
    }
}
.modal .modal-customfield_sprogramme_history {
    max-width: calc(100% - 2rem);
    .programm-table.toprow {
        margin-left: 300px;
    }
    .programm-table.standard {
        th.text {
            width: 300px;
            min-width: 300px;
            white-space: wrap;
        }
        th.int,
        th.float {
            width: 52.55px;
            min-width: 52.55px;
        }
    }
    .oldvalue {
        // Strike through the old value
        text-decoration: line-through;
    }
    .newvalue {
        // Highlight the new value
        color: rgb(206, 38, 38);
    }
}

.modal .modal-customfield_sprogramme_editor {
    max-width: calc(100% - 2rem);
    .sum.strikethrough {
        display: none !important;
    }
    .modal-header {
        align-items: center;
        .close {
            display: none;
        }
    }
    .close {
        margin-left: -0.5px;
    }
    .saveconfirm {
        margin-left: auto;
    }
    .downloadbutton,
    .closebutton,
    .uploadbutton {
        .icon {
            color: #9f9f9f;
        }
    }
    .saveconfirm {
        margin-top: -1.5px;
        .savingicon .icon {
            color: var(--warning);
        }
        .defaulticon .icon {
            color: var(--success);
        }
        .icon {
            color: #9f9f9f;
        }
        .btn .savingicon {
            display: none;
        }
        .btn.saving {
            .defaulticon {
                display: none;
            }
            .savingicon {
                display: inline-block;
            }
        }
    }
    .changes {
        .changesboxcorner {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid rgb(255, 0, 0);
            border-bottom: 10px solid transparent;
        }
        .changecontent {
            position: absolute;
            display: none;
            top: 0px;
            right: -200px;
            width: 200px;
            height: 200px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 10px;
            z-index: 1;
            .change {
                border: 1px solid #dee2e6;
                margin-bottom: 0.5rem;
                border-radius: 5px;
            }
            .newvalue {
                display: block;
                padding: 0.2rem 0.5rem;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            .oldvalue {
                background-color: #f7f7f7;
                padding: 0.2rem 0.5rem;
                display: block;
                text-decoration: line-through;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            .accept {
                color: var(--success);
            }
            .reject {
                color: rgb(255, 0, 0);
            }
            .infogroup {
                display: flex;
                .actions {
                    background-color: #f7f7f7;
                    border-radius: 15px;
                    display: flex;
                }
            }
            .requestedby {
                display: flex;
                flex: 1 1 auto;
                flex-direction: column;
                align-items: flex-end;
                font-size: 0.7rem;
                color: #9f9f9f;
            }
        }
    }
    td.active .changes .changecontent {
        display: block;
    }
}
.tablerfcs {
    .userpicture {
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
    }
}
