{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template customfield_sprogramme/emails/viewrfcs

    TODO describe template viewrfcs

    Example context (json):
    {
    }
}}
<link rel="stylesheet" type="text/css" href="{{{cssurl}}}">
<div class="d-flex mb-3">
    <div class="select-instance">
        <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle d-flex align-items-center" type="button" data-toggle="dropdown" aria-expanded="false">
                {{#str}}rfc:selectcourse, customfield_sprogramme{{/str}}
            </button>
            <div class="dropdown-menu">
                {{#selectcourse}}
                    <a href="{{{url}}}" class="dropdown-item  {{#selected}}active{{/selected}}">
                        {{name}} ( {{{course}}} )
                    </a>
                {{/selectcourse}}
            </div>
        </div>
    </div>
    <div class="select-status ml-2">
        <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle d-flex align-items-center" type="button" data-toggle="dropdown" aria-expanded="false">
                {{#str}}rfc:selectstatus, customfield_sprogramme{{/str}}
            </button>
            <div class="dropdown-menu">
                {{#status}}
                    <a href="{{{url}}}" class="dropdown-item {{#selected}}active{{/selected}}">
                        {{name}}
                    </a>
                {{/status}}
            </div>
        </div>
    </div>
</div>
<table class="table table-striped tablerfcs">
    <thead>
        <tr>
            <th>{{#str}}rfc:user, customfield_sprogramme{{/str}}</th>
            <th>{{#str}}rfc:timecreated, customfield_sprogramme{{/str}}</th>
            <th>{{#str}}rfc:course, customfield_sprogramme{{/str}}</th>
            <th>{{#str}}rfc:status, customfield_sprogramme{{/str}}</th>
            <th>{{#str}}rfc:actions, customfield_sprogramme{{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#rfcs}}
        <tr>
            <td>
                <div class="d-flex align-items-center position-relative">
                    <img src="{{userinfo.userpictureurl}}" alt="{{userinfo.fullname}}" class="userpicture">
                    <a class="stretched-link" href="{{{profileurl}}}" data-region="studentname" data-studentid="{{userinfo.id}}" data-firstname="{{userinfo.firstname}}" data-lastname="{{userinfo.lastname}}" data-email="{{userinfo.email}}">{{userinfo.fullname}}</a>
                </div>
            </td>
            <td>{{#userdate}}{{timemodified}}, {{#str}}strftimedatetime, langconfig{{/str}}{{/userdate}}</td>
            <td>{{course.fullname}}</td>
            <td>{{status}}</td>
            <td>
                <a href="#" class="btn btn-sm btn-primary" data-action="{{action}}" data-adminid="{{adminid}}" data-courseid="{{courseid}}">
                    {{#str}}rfc:view, customfield_sprogramme{{/str}}
                </a>
            </td>
        </tr>
        {{/rfcs}}
    </tbody>
</table>
<div class="d-none">
    <div class="customfield-sprogramme" data-region="app">
        <div data-region="rfcs">
        </div>
        <div class="test" data-region="columns">
        </div>
        <div data-region="modules">
        </div>
    </div>
    <div data-region="disciplineform-container">
        {{> customfield_sprogramme/disciplineform}}
    </div>
    <div class="customfield-sprogramme" data-region="history">
        <div data-region="modulesstatic">
            {{> customfield_sprogramme/table/modulesstatic}}
        </div>
    </div>
</div>
</div>
{{#disabled}}
<div class="d-flex justify-content-end mt-3">
    {{#deleteallurl}}
        <a href="{{{deleteallurl}}}" class="btn btn-danger ml-2">{{#str}}rfc:deleteall, customfield_sprogramme, {{numviewrfcs}}{{/str}}</a>
    {{/deleteallurl}}
</div>
{{/disabled}}
{{#js}}
require(['customfield_sprogramme/formfield'], function(formfield) {
    formfield.init();
});
{{/js}}
