{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template customfield_sprogramme/disciplineform

    TODO describe template disciplineform

    Example context (json):
    {
    }
}}
<div class="discipline-form" data-region="disciplineform">
    <div class="formarrow"></div>
    <input type="hidden" id="rowid" value="">
    <input type="hidden" id="discipline-id" value="">
    <input type="hidden" id="lastids" value="">
    <div class="d-flex icon-no-margin">
        <h5 data-region="rownumber"></h5>
        <button class="btn btn-secondary ml-auto mb-2 btn-sm" data-action="closedisciplineform">
            {{#pix}}e/cancel, core{{/pix}}
            <span class="sr-only">{{#str}}close, admin{{/str}}</span>
        </button>
    </div>
    <div class="form-group d-flex">
        <label for="discipline-name" class="sr-only">{{#str}}disciplines, customfield_sprogramme{{/str}}</label>
        <div class="col-6 p-0">
            <input type="search" class="form-control" id="discipline-name" placeholder="Search">
        </div>
        <div class="col-4 p-0">
            <input type="number" class="form-control" id="discipline-value" placeholder="Value">
        </div>
        <div class="col-2 p-0">
            <button class="btn btn-secondary" id="discipline-confirm" data-action="discipline-confirm">
                {{#str}}add{{/str}}
            </button>
        </div>
    </div>
    <hr>
    <div data-region="selected-disciplines" class="d-flex flex-wrap">
    </div>
    <hr>
    <div class="list-group discipline-list">
        {{#disciplines}}
            <a href="#" class="list-group-item list-group-item-action p-2" data-option data-action="selectdiscipline" data-id="{{id}}">{{name}}</a>
        {{/disciplines}}
    </div>
</div>