{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template customfield_sprogramme/formfield

    The form field button to show in the settings page.

    Example context (json):
    {
        "courseid": 1,
        "rowname": "Row 1"
    }
}}
<div class="d-flex w-100 justify-content-end mt-4">
    {{#canedit}}
        <a href="#" class="btn btn-primary" data-action="editprogramme" data-datafieldid="{{datafieldid}}">{{#str}}editprogramme, customfield_sprogramme{{/str}}</a>
    {{/canedit}}
    {{#hashistory}}
        <a href="{{{rfcsurl}}}" class="btn btn-secondary ml-1">{{#str}}history, customfield_sprogramme, {{#numrfcs}}({{numrfcs}}){{/numrfcs}}{{/str}}</a>
    {{/hashistory}}
</div>
{{#canedit}}
<div class="d-none">
    <div class="customfield-sprogramme" data-region="app">
        <div data-region="rfc">
        </div>
        <div data-region="columns">
        </div>
        <div data-region="modules">
        </div>
    </div>
    <div class="flex-fill" data-region="modalheader">
        <div class="editbuttons" data-region="editbuttons">
        </div>
    </div>
</div>
{{/canedit}}
{{#js}}
require(['customfield_sprogramme/programme_actions'], function(action) {
    action.init();
});
{{/js}}
