{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template customfield_sprogramme/viewrfcs

    TODO describe template viewrfcs

    Example context (json):
    {
        "datafieldid": 1,
        "rfcsurl": "http://example.com",
        "status": [
            {
                "key": "all",
                "name": "All",
                "url": "http://example.com/all",
                "selected": true
            },
            {
                "key": "pending",
                "name": "Pending",
                "url": "http://example.com/pending",
                "selected": false
            }
        ],
        "rfcs": [
            {
                "rfcid": 1,
                "timemodified": 1672531199,
                "status": "Pending",
                "action": "viewrfc",
                "type": "view",
                "userinfo": {
                    "id": 2,
                    "fullname": "John Doe",
                    "firstname": "John",
                    "lastname": "Doe",
                    "email": "
                    "userpictureurl": "http://example.com/pix/u/f1.png"
                },
            }
        ]
    }
}}
<div class="d-flex mb-3">
    <div class="select-status ml-2">
        <ul class="nav nav-tabs" id="rfcstatustabs" role="tablist">
            {{#status}}
                <li class="nav-item">
                    <a class="nav-link {{#selected}}active{{/selected}}" id="{{key}}-tab" href="{{{url}}}" aria-selected="{{#selected}}true{{/selected}}{{^selected}}false{{/selected}}">
                        {{name}}
                    </a>
                </li>
            {{/status}}
        </ul>
    </div>
</div>
<table class="table table-striped tablerfcs">
    <thead>
        <tr>
            <th>{{#str}}rfc:user, customfield_sprogramme{{/str}}</th>
            <th>{{#str}}rfc:timecreated, customfield_sprogramme{{/str}}</th>
            <th>{{#str}}rfc:course, customfield_sprogramme{{/str}}</th>
            <th>{{#str}}rfc:status, customfield_sprogramme{{/str}}</th>
            <th>{{#str}}rfc:actions, customfield_sprogramme{{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#rfcs}}
        <tr>
            <td>
                <div class="d-flex align-items-center position-relative">
                    <img src="{{userinfo.userpictureurl}}" alt="{{userinfo.fullname}}" class="userpicture">
                    <a class="stretched-link" href="{{{profileurl}}}" data-region="studentname" data-studentid="{{userinfo.id}}" data-firstname="{{userinfo.firstname}}" data-lastname="{{userinfo.lastname}}" data-email="{{userinfo.email}}">{{userinfo.fullname}}</a>
                </div>
            </td>
            <td>{{#userdate}}{{timemodified}}, {{#str}}strftimedatetime, langconfig{{/str}}{{/userdate}}</td>
            <td>{{course.fullname}}</td>
            <td>{{status}}</td>
            <td>
                <a href="#" class="btn btn-sm btn-primary" data-action="{{action}}" data-type="{{type}}" data-rfcid="{{rfcid}}" data-datafieldid="{{datafieldid}}">
                    {{#str}}rfc:view, customfield_sprogramme{{/str}}
                </a>
            </td>
        </tr>
        {{/rfcs}}
    </tbody>
</table>
{{{htmlpagingbar}}}
<div class="d-none">
    <div class="customfield-sprogramme" data-region="app">
        <div data-region="rfcs">
        </div>
        <div class="test" data-region="columns">
        </div>
        <div data-region="modules">
        </div>
    </div>
    <div class="customfield-sprogramme" data-region="history">
        <div data-region="modulesstatic">
            {{> customfield_sprogramme/table/modulesstatic}}
        </div>
    </div>
</div>

{{#js}}
require(['customfield_sprogramme/programme_actions'], function(action) {
    action.init();
});
{{/js}}
