{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template customfield_sprogramme/table/discipline

    TODO describe template discipline

    Example context (json):
    {
        "id": 2,
        "name": "Literacy & data management",
        "percentage": 23
    }
}}
<div data-region="discipline" data-id="{{id}}" class="badge badge-secondary">
    <span class="name">{{{name}}}</span>
    <span class="percentage">{{{percentage}}}</span>
    <button class="btn btn-icon icon-no-margin" data-id="{{id}}" data-action="removedisc">
        {{#pix}}i/delete, core, {{#str}}delete{{/str}}{{/pix}}
    </button>
</div>
