{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template customfield_sprogramme/table/moduleshistory

    TODO describe template moduleshistory

    Example context (json):
    {
        "datafieldid": 1,
        "columns": [
            {
                "columnid": "cm",
                "field": "cm",
                "label": "CM",
                "sum": "12.5",
                "newsum": "10.0",
                "hasnewsum": true
            },
            {
                "columnid": "td",
                "field": "td",
                "label": "TD",
                "sum": "8.0"
            }
        ],
        "modules": [
            {
                "moduleid": 1,
                "modulename": "Module 1",
                "rows": [
                    {
                        "cells": [
                            {
                                "type": "float",
                                "value": "2.5",
                                "changed": true,
                                "oldvalue": "3.0"
                            },
                            {
                                "type": "float",
                                "value": "1.0"
                            }
                        ],
                        "disciplines": [
                            {
                                "id": 1,
                                "name": "Discipline 1",
                                "percentage": 50
                            }
                        ],
                        "competencies": [
                            {
                                "id": 2,
                                "name": "Competency 1",
                                "percentage": 30
                            }
                        ]
                    }
                ]
            }
        ]
    }
}}
{{> customfield_sprogramme/table/rfc }}
<table class="programm-table editor toprow history">
    <tr>
        {{#columns}}
            <th class="{{field}}" data-columnid="{{columnid}}"><span class="thlabel">{{{label}}}</span>
                <div class="d-flex sumcontainer">
                    <span class="newsum {{^hasnewsum}}d-none{{/hasnewsum}}{{#hasnewsum}}ml-1{{/hasnewsum}}" data-columnid="{{columnid}}" data-region="newsumtotals">{{#newsum}}{{newsum}}{{/newsum}}</span>
                    <span class="sum{{#hasnewsum}} strikethrough{{/hasnewsum}}" data-columnid="{{columnid}}" data-region="sumtotals">{{#sum}}{{sum}}{{/sum}}</span>
                </div>
            </th>
        {{/columns}}
    </tr>
</table>
{{#modules}}
    <span class="modules mb-5" data-region="module" data-id="{{moduleid}}">
        <span class="d-flex mb-1 p-1 align-items-center">
            <h4 class="mb-0">{{{modulename}}}</h4>
        </span>
        <table class="programm-table standard">
            <thead>
                <tr data-region="columns">
                   {{> customfield_sprogramme/table/columns}}
                </tr>
            </thead>
            <tbody data-region="rows">
                {{#rows}}
                    <tr>
                        {{#cells}}
                            <td class="static {{#changed}}haschanges {{/changed}}{{type}}">
                                {{#changed}}
                                    <div class="d-flex change">
                                        <div class="oldvalue">{{{oldvalue}}}</div>
                                        <div class="newvalue ml-auto">{{{value}}}</div>
                                    </div>
                                {{/changed}}
                                {{^changed}}
                                    <span class="static">{{{value}}}</span>
                                {{/changed}}
                            </td>
                        {{/cells}}
                        <td class="disciplines">
                            <div class="d-flex">
                                <div class="container-disciplines" data-region="container-disciplines">
                                    {{#disciplines}}
                                        {{> customfield_sprogramme/table/tag}}
                                    {{/disciplines}}
                                </div>
                            </div>
                        </td>
                        <td class="competencies">
                            <div class="d-flex">
                                <div class="container-competencies" data-region="container-competencies">
                                    {{#competencies}}
                                        {{> customfield_sprogramme/table/tag}}
                                    {{/competencies}}
                                </div>
                            </div>
                        </td>
                    </tr>
                {{/rows}}
            </tbody>
        </table>
    </span>
{{/modules}}
