{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template customfield_sprogramme/table/modules

    TODO describe template modules

    Example context (json):
    {
        "datafieldid": 1,
        "rowname": "Row 1",
        "modules": [
            {
                "moduleid": 9,
                "modulename": "Module",
                "modulesortorder": 0,
                "rows": [
                    {
                        "id": 126,
                        "sortorder": 0,
                        "cells": [
                            {
                                "column": "cct_ept",
                                "value": "CCT",
                                "type": "select",
                                "visible": false
                            },
                            {
                                "column": "dd_rse",
                                "value": "DD/RSE",
                                "type": "select",
                                "visible": false
                            },
                            {
                                "column": "type_ae",
                                "value": "TD",
                                "type": "select",
                                "visible": false
                            },
                            {
                                "column": "intitule_seance",
                                "value": "Groupes et actions musculaires des membres",
                                "type": "text",
                                "visible": true
                            },
                            {
                                "column": "cm",
                                "value": "1,2",
                                "type": "float",
                                "visible": true
                            },
                            {
                                "column": "td",
                                "value": "5,7",
                                "type": "float",
                                "visible": true
                            },
                            {
                                "column": "tp",
                                "value": "9,2",
                                "type": "float",
                                "visible": true
                            },
                            {
                                "column": "tpa",
                                "value": null,
                                "type": "float",
                                "visible": true
                            },
                            {
                                "column": "tc",
                                "value": null,
                                "type": "int",
                                "visible": true
                            },
                            {
                                "column": "aas",
                                "value": null,
                                "type": "float",
                                "visible": true
                            },
                            {
                                "column": "fmp",
                                "value": null,
                                "type": "float",
                                "visible": true
                            },
                            {
                                "column": "perso_av",
                                "value": null,
                                "type": "float",
                                "visible": true
                            },
                            {
                                "column": "perso_ap",
                                "value": null,
                                "type": "float",
                                "visible": true
                            },
                            {
                                "column": "consignes",
                                "value": "Lecture du polycopie",
                                "type": "text",
                                "visible": true
                            },
                            {
                                "column": "Dessins, diaporama",
                                "value": "",
                                "type": "text",
                                "visible": true
                            }
                        ],
                        "disciplines": [
                            {
                                "id": 2,
                                "name": "Literacy & data management",
                                "percentage": 23
                            },
                            {
                                "id": 1,
                                "name": "Immunology",
                                "percentage": 23
                            }
                        ]
                    }
                ],
                "columns": [
                    {
                    "column": "cct_ept",
                    "type": "select",
                    "select": true,
                    "visible": false,
                    "label": "CCT / EPT",
                    "columnid": 6,
                    "length": 20,
                    "field": "float",
                    "sample_value": "",
                    "options": [
                        {
                        "name": "Autre",
                        "selected": false
                        },
                        {
                        "name": "CCT",
                        "selected": false
                        },
                        {
                        "name": "EPT",
                        "selected": false
                        }
                    ]
                    },
                    {
                    "column": "dd_rse",
                    "type": "select",
                    "select": true,
                    "visible": false,
                    "label": "DD / RSE",
                    "columnid": 7,
                    "length": 20,
                    "field": "float",
                    "sample_value": "",
                    "options": [
                        {
                        "name": "Autre",
                        "selected": false
                        },
                        {
                        "name": "Sans lien avec DD/RSE",
                        "selected": false
                        },
                        {
                        "name": "DD/RSE",
                        "selected": false
                        }
                    ]
                    },
                    {
                    "column": "type_ae",
                    "type": "select",
                    "select": true,
                    "visible": false,
                    "label": "Type AEEEV",
                    "columnid": 8,
                    "length": 10,
                    "field": "select",
                    "sample_value": "TC",
                    "options": [
                        {
                        "name": "CM",
                        "selected": false
                        },
                        {
                        "name": "TD",
                        "selected": false
                        },
                        {
                        "name": "TP",
                        "selected": false
                        },
                        {
                        "name": "TPa",
                        "selected": false
                        },
                        {
                        "name": "TC",
                        "selected": false
                        },
                        {
                        "name": "AAS",
                        "selected": false
                        },
                        {
                        "name": "FMP",
                        "selected": false
                        }
                    ]
                    },
                    {
                    "column": "intitule_seance",
                    "type": "text",
                    "text": true,
                    "visible": true,
                    "label": "Intitulé de la séance / de l’exercice",
                    "columnid": 19,
                    "length": 255,
                    "field": "text",
                    "sample_value": "..."
                    },
                    {
                    "column": "cm",
                    "type": "float",
                    "float": true,
                    "visible": true,
                    "label": "CM",
                    "columnid": 20,
                    "length": 10,
                    "field": "float",
                    "sample_value": "0,0",
                    "min": 0,
                    "max": 99
                    },
                    {
                    "column": "td",
                    "type": "float",
                    "float": true,
                    "visible": true,
                    "label": "TD",
                    "columnid": 21,
                    "length": 10,
                    "field": "float",
                    "sample_value": "0,0",
                    "min": 0,
                    "max": 99
                    },
                    {
                    "column": "tp",
                    "type": "float",
                    "float": true,
                    "visible": true,
                    "label": "TP",
                    "columnid": 22,
                    "length": 10,
                    "field": "float",
                    "sample_value": "0,0",
                    "min": 0,
                    "max": 99
                    },
                    {
                    "column": "tpa",
                    "type": "float",
                    "float": true,
                    "visible": true,
                    "label": "TPa",
                    "columnid": 23,
                    "length": 10,
                    "field": "float",
                    "sample_value": "0,0",
                    "min": 0,
                    "max": 99
                    },
                    {
                    "column": "tc",
                    "type": "int",
                    "int": true,
                    "visible": true,
                    "label": "TC",
                    "columnid": 24,
                    "length": 10,
                    "field": "int",
                    "sample_value": "0",
                    "min": 0,
                    "max": 99
                    },
                    {
                    "column": "aas",
                    "type": "float",
                    "float": true,
                    "visible": true,
                    "label": "AAS",
                    "columnid": 25,
                    "length": 10,
                    "field": "float",
                    "sample_value": "0,0",
                    "min": 0,
                    "max": 99
                    },
                    {
                    "column": "fmp",
                    "type": "float",
                    "float": true,
                    "visible": true,
                    "label": "FMP",
                    "columnid": 26,
                    "length": 10,
                    "field": "float",
                    "sample_value": "0,0",
                    "min": 0,
                    "max": 99
                    },
                    {
                    "column": "perso_av",
                    "type": "float",
                    "float": true,
                    "visible": true,
                    "label": "Perso av",
                    "columnid": 27,
                    "length": 10,
                    "field": "float",
                    "sample_value": "0,0"
                    },
                    {
                    "column": "perso_ap",
                    "type": "float",
                    "float": true,
                    "visible": true,
                    "label": "Perso ap",
                    "columnid": 28,
                    "length": 10,
                    "field": "float",
                    "sample_value": "0,0",
                    "min": 0,
                    "max": 99
                    },
                    {
                    "column": "consignes",
                    "type": "text",
                    "text": true,
                    "visible": true,
                    "label": "Consignes de travail pour préparer la séance",
                    "columnid": 29,
                    "length": 10,
                    "field": "select",
                    "sample_value": "..."
                    },
                    {
                    "column": "supports",
                    "type": "text",
                    "text": true,
                    "visible": true,
                    "label": "Supports pédagogiques essentiels",
                    "columnid": 30,
                    "length": 10,
                    "field": "select",
                    "sample_value": "..."
                    }
                ]
            }
        ]
    }
}}
{{#modules}}
    <div class="{{#deleted}}deletepending{{/deleted}} modules mb-5" data-region="module" data-id="{{moduleid}}">
        <div class="d-flex mb-1 p-1 align-items-center">
            {{#editor}}
                <div class="h5 mb-0 d-flex align-items-center">
                    <input name="input-modname-{{moduleid}}" class="form-control module-input" data-region="modulename" type="text" value="{{{modulename}}}"/>
                </div>
                <button class="btn btn-icon icon-no-margin mr-1 ml-1" data-id="{{moduleid}}" data-action="deletemodule">{{#pix}}i/delete, core, {{#str}}delete{{/str}}{{/pix}}</button>
            {{/editor}}
            {{^editor}}
                <h4 class="mb-0">{{{modulename}}}</h4>
            {{/editor}}
        </div>
        <table class="programm-table {{^editor}}standard{{/editor}}{{#editor}}editor{{/editor}}">
            <thead>
                <tr data-region="columns">
                   {{> customfield_sprogramme/table/columns}}
                </tr>
            </thead>
            <tbody data-region="rows">
                {{> customfield_sprogramme/table/rows}}
            </tbody>
        </table>
        {{#editor}}
            <button class="btn btn-link btn-sm" href="#" data-id="-1" data-action="addrow">{{#str}}addrow, customfield_sprogramme{{/str}}</button>
        {{/editor}}
    </div>
{{/modules}}
    <button class="btn btn-link btn-sm" data-id="-1" data-action="addmodule">{{#str}}addmodule, customfield_sprogramme{{/str}}</button>
{{#js}}
    document.querySelectorAll('.programm-textarea').forEach((textarea) => {
        textarea.style.height = `${textarea.scrollHeight + 1}px`; // Set height to scrollHeight to fit content.
        textarea.dataset.height = textarea.scrollHeight + 1; // Store the height in a data attribute.
    });
{{/js}}