{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template customfield_sprogramme/table/modulesstatic

    TODO describe template modulesstatic

    Example context (json):
    {
        "modulesstatic": [
            {
                "moduleid": 1,
                "modulename": "Module 1",
                "columns": [
                    {
                        "columnid": "cm",
                        "field": "cm",
                        "label": "CM",
                        "help": "Hebergement des cours en ligne"
                    },
                    {
                        "columnid": "td",
                        "field": "td",
                        "label": "TD"
                    },
                    {
                        "columnid": "tp",
                        "field": "tp",
                        "label": "TP"
                    },
                    {
                        "columnid": "project",
                        "field": "project",
                        "label": "Project"
                    },
                    {
                        "columnid": "other",
                        "field": "other",
                        "label": "Other"
                    },
                    {
                        "columnid": "total",
                        "field": "total",
                        "label": "Total"
                    },
                    {
                        "columnid": "credits",
                        "field": "credits",
                        "label": "Credits"
                    },
                    {
                        "columnid": "hourspercredit",
                        "field": "hourspercredit",
                        "label": "Hours per credit"
                    },
                    {
                        "columnid": "description",
                        "field": "description",
                        "label": "Description"
                    },
                    {
                        "columnid": "objectives",
                        "field": "objectives",
                        "label": "Objectives"
                    },
                    {
                        "columnid": "prerequisites",
                        "field": "prerequisites",
                        "label": "Prerequisites"
                    },
                    {
                        "columnid": "disciplines",
                        "field": "disciplines",
                        "label": "Disciplines"
                    }
                ],
                "rows": [
                    {
                        "id": 101,
                        "cells": [
                            {
                                "column": "cm",
                                "value": "2.5",
                                "type": "float"
                            },
                            {
                                "column": "td",
                                "value": "1.0",
                                "type": "float"
                            },
                            {
                                "column": "tp",
                                "value": "3.0",
                                "type": "float"
                            },
                            {
                                "column": "project",
                                "value": "0.5",
                                "type": "float"
                            },
                            {
                                "column": "other",
                                "value": "1.0",
                                "type": "float"
                            },
                            {
                                "column": "total",
                                "value": "8.0",
                                "type": "float"
                            },
                            {
                                "column": "credits",
                                "value": "3",
                                "type": "int"
                            },
                            {
                                "column": "hourspercredit",
                                "value": "10",
                                "type": "int"
                            },
                            {
                                "column": "description",
                                "value": "Introduction to advanced topics.",
                                "type": "text"
                            },
                            {
                                "column": "objectives",
                                "value": "Understand key concepts.",
                                "type": "text"
                            },
                            {
                                "column": "prerequisites",
                                "value": "Basic knowledge of the subject.",
                                "type": "text"
                            },
                            {
                                "column": "disciplines",
                                "value": "",
                                "type": "tags"
                            }
                        ],
                        "disciplines": [
                            {
                                "name": "Mathematics",
                                "percentage": 50
                            }
                        ],
                        "competencies": [
                            {
                                "name": "Problem Solving",
                                "percentage": 30
                            }
                        ]
                    }
                ]
            }
        ]
    }
}}
{{#modulesstatic}}
    <div class="modules mb-5" data-region="module" data-id="{{moduleid}}">
        <div class="d-flex mb-1 p-1 align-items-center">
            <h4 class="mb-0">{{{modulename}}}</h4>
        </div>
        <table class="programm-table standard">
            <thead>
                <tr data-region="columns">
                    {{#columns}}
                        <th class="{{field}}" data-columnid="{{columnid}}" {{#help}}data-toggle="popover" data-placement="bottom" data-html="true" data-content="{{{help}}}"{{/help}}>
                            <span class="thlabel {{#help}}hashelp{{/help}}">{{{label}}}</span>
                        </th>
                    {{/columns}}
                </tr>
            </thead>
            <tbody data-region="rows">
                {{#rows}}
                    <tr class="{{#disciplines}}show-disciplines {{/disciplines}} {{#competencies}}show-competencies {{/competencies}}" data-toggle="collapse" data-target="#row-{{id}}" aria-expanded="false">
                        {{#cells}}
                            <td class="static {{type}} {{column}}">
                                <span class="staticdata">{{{value}}}</span>
                            </td>
                        {{/cells}}
                    </tr>
                    <tr id="row-{{id}}" data-row class="tags collapse {{#disciplines}}has-disciplines {{/disciplines}} {{#competencies}}has-competencies {{/competencies}}">
                        <td colspan="12" class="tags">
                            <div {{^disciplines.0}}class="d-none"{{/disciplines.0}}><strong>{{#str}}disciplines, customfield_sprogramme{{/str}}</strong></div>
                            {{#disciplines}}
                                <div class="mb-1">
                                    <span class="name">{{{name}}}</span>
                                    <span class="percentage">{{{percentage}}}%</span>
                                </div>
                            {{/disciplines}}

                            <div {{^competencies.0}}class="d-none"{{/competencies.0}}><strong>{{#str}}competencies, customfield_sprogramme{{/str}}</strong></div>
                            {{#competencies}}
                                <div class="mb-1">
                                    <span class="name">{{{name}}}</span>
                                    <span class="percentage">{{{percentage}}}%</span>
                                </div>
                            {{/competencies}}
                        </td>
                    </tr>
                {{/rows}}
            </tbody>
        </table>
    </div>
{{/modulesstatic}}