{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template customfield_sprogramme/table/rfc

    A dropdown button for each RFC in the table.
    The button shows the RFC name, the dropdown menu show options "Accept" and "Reject", Augment table, and the date of the RFC.

    Example context (json):
    {
        "userinfo": {
            "fullname": "John Doe",
            "id": 1
        },
        "timemodified": 1633036800,
    }
}}
<div class="d-flex align-items-start">
    {{#rfc}}
        <div class="rfcrquest d-flex align-items-start" data-rfc data-userid="{{userinfo.id}}">
            <div class="rfcinfo">
                {{#issubmitted}}
                    {{#str}}rfc:changerequestby, customfield_sprogramme, {{userinfo.fullname}}{{/str}}
                    <p class="mb-0 small">{{#str}}submitdate, customfield_sprogramme{{/str}} {{#userdate}} {{timemodified}}, {{#str}} strftimedatetime, core_langconfig {{/str}} {{/userdate}}</p>
                {{/issubmitted}}
                <div class="actions">
                {{#canaccept}}
                    <a class="btn btn-sm btn-success" data-action="acceptrfc">{{#str}}accept, customfield_sprogramme{{/str}}</a>
                {{/canaccept}}
                {{#canreject}}
                    <a class="btn btn-sm btn-secondary" data-action="rejectrfc">{{#str}}reject, customfield_sprogramme{{/str}}</a>
                {{/canreject}}
                {{#canremove}}
                    <a class="btn btn-sm btn-secondary" data-action="removerfc">{{#str}}removerfc, customfield_sprogramme{{/str}}</a>
                {{/canremove}}
                {{#cansubmit}}
                    <a class="btn btn-sm btn-success" data-action="submitrfc">{{#str}}submitrfc, customfield_sprogramme{{/str}}</a>
                {{/cansubmit}}
                {{#issubmitted}}
                    {{#cancancel}}
                        <a class="btn btn-sm mr-1 btn-warning" data-action="cancelrfc">{{#str}}cancelrfc, customfield_sprogramme{{/str}}</a>
                    {{/cancancel}}
                {{/issubmitted}}
                </div>
            </div>
            {{#cansubmit}}
                <a class="btn btn-sm btn-icon d-flex justify-content-center align-items-center icon-no-margin" data-toggle="collapse" data-target="#rfc-help" aria-expanded="false" aria-controls="rfc-{{rfcid}}">
                    {{#pix}} a/help, core, {{#str}} rfc:help, customfield_sprogramme {{/str}} {{/pix}}
                </a>
            {{/cansubmit}}
            {{^cansubmit}}
                <a class="btn btn-sm btn-icon d-flex justify-content-center align-items-center icon-no-margin" data-toggle="collapse" data-target="#rfcblocked-help" aria-expanded="false" aria-controls="rfc-{{rfcid}}">
                    {{#pix}} a/help, core, {{#str}} rfc:rfcblocked, customfield_sprogramme {{/str}} {{/pix}}
                </a>
            {{/cansubmit}}
        </div>
    {{/rfc}}

    <button class="btn btn-sm btn-info d-none ml-1" data-action="resetrfc">
        {{#str}}resetrfc, customfield_sprogramme{{/str}}
    </button>
</div>
<div class="collapse" id="rfc-help">
    <div class="alert alert-info mt-3 mx-1">
        {{#str}}rfc:helptext, customfield_sprogramme{{/str}}
    </div>
</div>
<div class="collapse" id="rfcblocked-help">
    <div class="alert alert-info mt-3 mx-1">
        {{#str}}rfc:rfcblocked:helptext, customfield_sprogramme{{/str}}
    </div>
</div>
